/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 févr. 2019, 16:53:29
    Author     : Insomniak
*/
.box-hidden{
    display:none;
}

#upload-contract-form{
    visibility:hidden;
    height: 0;
}

.min-chart{
    
}

#todown {
    display: block;
    position: fixed;
    top: 113px;
    right: 20px;
    z-index: 99999;
    outline: none;
    background-color: rgb(34, 45, 50);
    color: rgb(238, 238, 238);
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px;
    opacity: 0.5;
}

#todown:hover {
    opacity: 1;
}
span.icheck {
    padding: 8px 10px;
    background-color: whitesmoke;
    margin: 4px;
    border-radius: 10px;
    border: 0.1px solid #80808078;
}
#amenities_values
  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    margin-top: 20px;
  }