
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

// Flag Icon CSS
@import "~flag-icon-css/sass/flag-icon";

body{
    position: relative;
    padding-bottom:30px;
    min-height: 100vh;
    overflow-x:hidden;
}

*{
    box-sizing: border-box;
}

#language{
    padding:10px 15px;
    #languageselect{
        padding:5px;
    }
}
.navbar-nav > li a.menu-link{
    vertical-align: middle;
    position:relative;
    padding:15px 10px 15px 40px;
    margin-right:10px;
    &:hover{
        background:rgba(0,0,0,0.5);
        color:#FFF;
    }
    i.fa,
    i.far{
        position:absolute;
        left:10px;
        top:12px;
        font-size: 25px;
    }
}

.panel-content{
    padding:10px;
}

::placeholder{
    color:#aaa !important;
}
::-webkit-input-placeholder{
    color:#aaa !important;
}
::moz-placeholder{
    color:#aaa !important;
}
:-ms-input-placeholder{
    color:#aaa !important;
}
::-ms-input-placeholder{
    color:#aaa !important;
}

form{
    padding-bottom:50px;
    position:relative;
    width:100%;
    
    &.property-form{
        .form-group{
            width:100%;
            display:table-row;
        }
    }
    
    label[for="amenities"]{
        display:table-cell;
        width:auto;
    }
    
    #amenities{
        /*width:60vw;*/
        display:block;
        width:83.3333%;
        .icheck{
            display:inline-block;
            width:150px;
        }
    }
    

    .btn{
        font-size:20px;
    }
    input[type="submit"]{
        width:150px;
        float:right;
    }
    .g-recaptcha > div{
        margin:10px auto;
    }
}

.fields-group{
    display:table;
    width:100%;
    margin:10px 0;
}
label.error{
    display:block;
    color:#F55;
}
.fields-row{
    display:table-row;
    height: 50px;
    label{
        display:table-cell;
        padding:10px;
        vertical-align: top;
        &.error{
            display:block;
            color:#F55;
        }
    }
    .custom-radio{
        display:table-cell;
        vertical-align: middle;
        label{
            display:inline-block;
        }
        input{
            margin-top:15px;
        }
    }
    input, textarea, select, .input-like{
        border:1px solid #ddd;
        border-radius:3px;
        padding:10px;
        display:inline-block;
    }
    textarea{
        height:70px;
    }
    &.large{
        input{
            width:100%;
        }
    }
    &.small-label{
        label{
            width:30%;
        }
    }
}


.navbar-brand{
    text-align:center;
    span{
        display:block;
        margin-top:-5px;
        font-size:12px;
        text-align:center;
        width:100%;
    }
}

#beds{
    label, select{
        display:inline-block;
    }
}

.property-box, .front-box{
    margin:10px 0;
    cursor:pointer;
    display:block;
    padding:10px;
    border-radius:15px;
    border: 1px solid #eee;
    background-image: -webkit-linear-gradient(top,#f5f5ff 0,#e8e8fe 100%);
    background-image: -o-linear-gradient(top,#f5f5ff 0,#e8e8fe 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5ff),to(#e8e8fe));
    background-image: linear-gradient(to bottom,#f5f5ff 0,#e8e8fe 100%);
    transition: all 0.5s;
    h3{
        margin:0 0 10px;
    }
    form.book-form{
        padding: 10px 0;
        input[type="number"]{
            width:50px;
        }
        input[type="submit"]{
            font-size:13px;
            margin-top: -10px;
        }
        .checkbox-box{
            width:100px;
            display:inline-block;
            text-align:justify;
            input[type="checkbox"]{
                float:right;
            }
        }
    }
}

#property-tools{
    float:right;
    .btn{
        display:inline-block;
        max-height:25px;
        padding:5px 10px;
        line-height:10px;
    }
}

.file{
    margin:15px 0;
    background-image: url(/images/file-icon.png);
    background-size:auto 110px;
    background-position: left 20px top 15px;
    background-repeat:no-repeat;
    border:3px solid #FFF;
    border-radius:15px;
    min-height:130px;
    padding:10px;
    .file-top{
        padding-left:110px;
        min-height:130px;
        h3{
            margin-top:5px;
        }
    }
    form{
        padding:0;
        .btn{
            width:90px; 
            height:30px; 
            font-size:13px;
        }
    }
}

footer{
    background:#555;
    background-image: -webkit-linear-gradient(top,#555 0,#999 100%);
    background-image: -o-linear-gradient(top,#555 0,#999 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#555),to(#999));
    background-image: linear-gradient(to bottom,#555 0,#999 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ff999', GradientType=0);
    color:#FFF;
    font-size:10px;
    text-align:center;
    position:absolute;
    bottom:0;
    width:100%;
    padding:10px 20px;
}

#booking-info{
    
}

#blurred-back{
    background-image: url('/images/blurred-back.png');
    background-color:#f5f8fa;
    background-position: center top;
    background-repeat:no-repeat;
    position:absolute;
    width:100%;
    height:calc(100% - 74px);
    display: block;
}
#black-container{
    background: rgba(0,0,0,0.7);
    position:absolute;
    width:100%;
    height:100%;
    display: block;
}
.center-modal{
    position: absolute;
    top:250px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    height:auto;
    padding:30px;
    width:500px;
    border-radius: 20px;
    background:#eee;

}
form#cgv-form{
    background:#FFF;
    position: relative;
    display:block;
    min-height:200px;
    padding:10px;
    padding-bottom:50px;
    #submit{
        position: absolute;
        display:block;
        bottom:10px;
        left:0;
        right:0;
        margin:auto;
    }
}

.fields-row.epm {
    grid-template-columns: 4fr;
    display: grid;
    padding: 0 20px;
  }
  
  .nav-tabs>li>a
  {
    box-shadow: 0px 0px 8px -2px #888888;
  }
  
  a.nav-link.active {
    box-shadow: inset 0px 0px 6px 0px #88888870;
  }
  
  div#property-0 {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
  }
  
  div#property-0-details {
    display: grid;
    grid-template-columns: 4fr !important;
  }
  
  div#amenities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    width: 100% !important;
  }
  
  form #amenities
  {
    width: 100% !important;
  }
  
  form.property-form .form-group
  {
    display: initial !important;
  }
  
  form #amenities .icheck
  {
    width: initial !important;
  }
  
  span.icheck {
    padding: 8px 10px;
    background-color: whitesmoke;
    margin: 4px;
    border-radius: 10px;
    border: 0.1px solid #80808078;
  }
  div#property-0-equipment
  {
    display: grid;
    grid-template-columns: 4fr;
  }
  
  #beds label
  {
    text-align: right;
    padding-right: 5px;
    vertical-align: middle;
  }
  
  #beds select
  {
    margin: 5px 0px;
  }
  .small-label {
    height: 135px;
  }
  
  input#property_details\[surface\]
  {
    width: 90%;
  }
  
  select#property_details\[rental_type\]
  {
    width: 100%;
    height: 40px;
  }
  
  select#property_details\[residence\]
  {
    width: 100%;
    height: 40px;
  }
  
  .fields-row
  {
    height: initial !important;
  }
  
  .fields-row input
  {
    width: 100%;
    height: 40px;
  }
  
  select#property_details\[Management_type\],select#property_details\[arriving_time\],select#property_details\[arriving_time_max\],select#property_details\[begin_time\]
  {
    width: 100%;
  }
  
  div#property-0-details
  {
    grid-template-columns: 4fr;
  }
  
  textarea#property_details\[summary\],textarea#property_details\[description\]
  {
    width: 100%;
  }
  
  select#property_details\[rooms\],select#property_details\[bathrooms\],
  select#property_details\[wc\],select#property_details\[bathtubs\],select#property_details\[showers\],
  select#property_details\[beds\],select#property_details\[bunkbeds\],select#property_details\[couchbeds\],
  select#property_details\[covers\],select#property_details\[square_pillows\],select#property_details\[rect_pillows\]
  {
    width: 100%;
    padding-right: 10px;
  }
  #property-form .btn{
      margin-top:30px;
  }
  .fields-row input, .fields-row select{
      margin-bottom: 10px;
  }
  .fields-row .custom-radio input{
      height: unset;
  }